<IfModule mod_rewrite.c>
    RewriteEngine on 
    RewriteCond %{REQUEST_FILENAME} !-d 
    RewriteCond %{REQUEST_FILENAME}.php -f
    RewriteRule ^(.+?)/?$ $1.php [L]
</IfModule>

<IfModule mod_mime.c>
    DefaultType application/x-httpd-php
</IfModule>

DirectoryIndex index.php index.html
